#searchVideo{
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}

#hot{
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#hotVideo{
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px 5px gray;
  justify-content: space-between;
}

#hotVideoList{
  display: flex;
  justify-content: center;
}

.card-upper{
  display: flex;
  justify-content: space-between;
}

.btns{
  display: flex;
  justify-content: space-between;
}

#part{
  width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#partVideo{ 
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px 5px gray;
  justify-content: space-between;
}

#partVideoList{
  display: flex;
  justify-content: center;
}

.checkbox{
  display: none;
}

.card > #card-body > {
  display: flex;
  justify-content: space-between;
}